.header {
     display: grid;
 
 }
 
 .aClose {
     grid-row: 1;
     width: 5vw;
     margin-left: 2vw;
     height: auto;
 }
 
 .imgClose {
     float: left;
     margin: auto;
     display: flex;
 }
 
 //-------------------------
 body {
     position: relative;
 }
 
 .background {
     background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
     background-size: 400% 400%;
     animation: gradient 15s ease infinite;
 }
 
 .wrap {
     display: block;
 }
 
 //------------------
 .divInfo {
     background-color: rgba(255, 255, 255, 0.575);
     display: grid;
     height: auto;
     width: 90vw;
     margin: auto;                   
     border-radius: 1rem;
     margin-top: 1rem;
 
 }
 
 .divEtapa {
     grid-row: 1;
     grid-column: 1;
     padding: auto;
     display: grid;
 
 }
 
 .divLevel {
     grid-row: 1;
     grid-column: 2;
     margin: auto;
 }
 
 h3 {
     text-align: center;
     grid-row: 1;
     font-size: 6vh;
     color: darkblue;
 
 }
 
 .imgLevel {
     height: 9vh;
     width: auto;
     margin: auto;
     grid-row: 1;
     grid-column: 2;
 }
 
 .imgNumLevel {
     height: 4vh;
     width: auto;
     margin-left: auto;
     margin-right: 0vw;
     margin-top: auto;
     margin-bottom: auto;
     grid-row: 1;
     grid-column: 1;
     float: right;
 }
 
 .imgNumTotal {
     height: 4vh;
     width: auto;
     margin-right: 0vw;
     margin-top: auto;
     margin-bottom: auto;
     grid-row: 1;
     grid-column: 3;
     float: left;
 }
 
 
 //-------------------------------
 
 .divOpera {
     height: auto;
     width: 90vw;
     background-color: rgba(255, 255, 255, 0.575);
     border-radius: 1rem;
     margin-left: auto;
     margin-right: auto;
     margin-top: 1vh;
 
 }
 
 .divOpera {
     padding: 0;
     align-items: center;
     display: grid;
 }
 
 .imgOperaOne {
     margin: auto;
     width: 40vw;
     height: auto;
     grid-row: 1;
     grid-column: 1;
 }
 .h1VarOpe{
     grid-row: 1;
     grid-column: 2;
     font-size: 20vw;
     margin: auto;
     height: auto;
     width: auto;

 }
 .imgOperaTwo {
     margin: auto;
     width: 40vw;
     height: auto;
     grid-row: 1;
     grid-column: 3;
 }
 
 
 
 //--------------------------
 .divResultados {
     margin: auto;
     display: grid;
     height: auto;
     width: auto;
 }
 
 .h2Resultado {
     text-align: center;
     margin: auto;
     width: 15vw;
     height: 6vh;
     justify-items: center;
     font-size: 5vh;
     border-radius: 0.5rem;
     margin-bottom: 1vh;
     background-color: #ffffff;
 }
 
 //--------------------------
 .divAlternativas {
 
     height: auto;
     width: 90vw;
     background-color: rgba(255, 255, 255, 0.575);
     border-radius: 1rem;
     margin-left: auto;
     margin-right: auto;
     margin-top: 1vh;
     padding: 4vw;
 }
 
 .divNumeros {
     display: grid;
     padding-left: 0.5rem;
     padding-right: 0.5rem;
 }
 
 
 .nBtn {
     height: 10vh;
     width: 24vw;
     background-color: #ffffff00;
     color: #f3f3f3;
     margin: auto;
 }
 
 
 .nBtn:focus {
     -webkit-animation: jello-horizontal 0.4s both;
     animation: jello-horizontal 0.4s both;
     outline: none;
 }
 
 
 .nOne {
     grid-row: 1;
     grid-column: 1;
 }
 
 .nTwo {
     grid-row: 1;
     grid-column: 2;
 }
 
 .nThree {
     grid-row: 1;
     grid-column: 3;
 }
 
 .nFour {
     grid-row: 2;
     grid-column: 1;
 }
 
 .nFive {
     grid-row: 2;
     grid-column: 2;
 }
 
 .nSix {
     grid-row: 2;
     grid-column: 3;
 }
 
 .nSeven {
     grid-row: 3;
     grid-column: 1;
 }
 
 .nEigth {
     grid-row: 3;
     grid-column: 2;
 }
 
 .nNine {
     grid-row: 3;
     grid-column: 3;
 }
 
 .nZero {
     grid-row: 4;
     grid-column: 2;
 }
 
 //--------------------------
 .modal-contenido {
     background-color: #ffffffc0;
     width: 40vh;
     padding: 10px 20px;
     margin-top: 40vh;
     margin-bottom: 40vh;
     margin-left: auto;
     margin-right: auto;
     position: relative;
     border-radius: 1rem;
 }
 
 .modal {
     background-color: rgba(0, 0, 0, .8);
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     opacity: 0;
     pointer-events: none;
     transition: all 1s;
 }
 
 .imgTrueModal {
     height: 12vh;
     width: auto;
     grid-row: 1;
     grid-column: 1;
     margin: auto;
     display: block;
 }
 
 .divCorrecto {
     display: grid;
 }
 
 
 .h1IgualModal {
     grid-row: 1;
     grid-column: 2;
     margin: auto;
     align-items: center;
     text-align: center;
     font-size: 5vh;
 }
 
 .imgNumModal {
     height: 10vh;
     width: auto;
     grid-row: 1;
     grid-column: 3;
     margin: auto;
 }
 
 //---------------------------
 
 .modal-contenido-three {
     background-color: #ffffff00;
     width: 40vh;
     padding: 10px 20px;
     margin-top: 35vh;
     margin-bottom: 40vh;
     margin-left: auto;
     margin-right: auto;
     position: relative;
     border-radius: 1rem;
 }
 
 .modal-level-three {
     background-color: rgba(0, 0, 0, 0.932);
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     opacity: 0;
     pointer-events: none;
     transition: all 0.5s;
 }
 
 .imgLevelThree {
     -webkit-animation: jello-horizontal 0.7s infinite;
     animation: jello-horizontal 0.7s infinite;
 }
 
 .h1End{
     text-align: center;
     margin: auto;
     color: aqua;
 }
 //--------------------------
.divCoin{
    display: grid;
}
.coin{
    grid-row: 1;
    grid-column: 1;
    margin-left: -5vh;
}
.h3Coins{
   grid-row: 1;
   grid-column: 2; 
   margin-left: -20vh;
   margin-top: 5vh;
   color: #fcac00;
}
//---------------------------

.modalClose {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.modal-contenido-close {
    background-color: #ffffffc0;
    width: 40vh;
    padding: 10px 20px;
    margin-top: 40vh;
    margin-bottom: 40vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 1rem;
}

.h1Confirm {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.btnYes {
    height: 5vh;
    width: 30vw;
    border-radius: 1rem;
    background-color: #23a6d5;
    outline: none;
}
.btnYes:active{
    height: 4.5vh;
    width: 29vw;
}
.btnNo {
    height: 5vh;
    width: 30vw;
    border-radius: 1rem;
    background-color: #e73c7e;
    outline: none;
}
.btnNo:active{
    height: 4.5vh;
    width: 29vw;
}
 
 //--------------------------
 
 @keyframes gradient {
     0% {
         background-position: 0% 50%;
     }
 
     50% {
         background-position: 100% 50%;
     }
 
     100% {
         background-position: 0% 50%;
     }
 }
 
 @-webkit-keyframes jello-horizontal {
     0% {
         -webkit-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
     }
 
     30% {
         -webkit-transform: scale3d(1.25, 0.75, 1);
         transform: scale3d(1.25, 0.75, 1);
     }
 
     40% {
         -webkit-transform: scale3d(0.75, 1.25, 1);
         transform: scale3d(0.75, 1.25, 1);
     }
 
     50% {
         -webkit-transform: scale3d(1.15, 0.85, 1);
         transform: scale3d(1.15, 0.85, 1);
     }
 
     65% {
         -webkit-transform: scale3d(0.95, 1.05, 1);
         transform: scale3d(0.95, 1.05, 1);
     }
 
     75% {
         -webkit-transform: scale3d(1.05, 0.95, 1);
         transform: scale3d(1.05, 0.95, 1);
     }
 
     100% {
         -webkit-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
     }
 }